HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!/src/main//build/
!/src/test//build/

STS

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!/src/main//bin/
!/src/test//bin/

IntelliJ IDEA

.idea
*.iws
*.iml
*.ipr
out/
!/src/main//out/
!/src/test//out/

NetBeans

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

VS Code

.vscode/


Ignora TODOS los archivos de propiedades de Spring Boot en CUALQUIER subdirectorio.

El (**/) significa "en cualquier carpeta".

**/application-dev.properties
**/application-prod.properties
**/application-staging.properties
**/application.properties

¡PERO, NO ignores (anula la regla anterior) para los archivos .example!

Somos explícitos con la ruta para que sea seguro.

!src/main/resources/application-dev.properties.example
!src/main/resources/application.properties.example