# ========================================
# Configuración específica para el perfil 'dev' (ejecución local desde IDE)
# ========================================

# Conexión a PostgreSQL corriendo LOCALMENTE o en Docker expuesto en localhost
spring.datasource.url=jdbc:postgresql://localhost:5432/db_docu_cloud
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

# Mantenemos las otras configuraciones de JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# --- JWT Configuration ---
docucloud.app.jwtSecret=
docucloud.app.jwtExpirationMs=3600000

# --- Refresh Token Configuration ---
docucloud.app.jwtRefreshSecret=

docucloud.app.jwtRefreshExpirationMs=18000000
